/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
body{
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}
.clickable{
    cursor: pointer;
}
a{
    text-decoration: none;
}