nav{
    display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  position: fixed;
  top:0px;
  left: 0px;
  height: 100%;
  width: 100px;
background-color: #50514f;
}
.navIcon__holder{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navIcon__holder img{
  max-width: 70px;
  max-height: 70px;
}
.navIcon__holder span{
  color:#247ba0;
}
.last{
  margin-bottom: 30px;
}
.closeDD{
  display: flex;
  align-items: right;
  
}

.DropDown__container{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  width: 200px;
  height: 500px;
  top: 200px;
  left:100px;
}
.DropDown__container div{
  border-bottom: solid 2px #50514f;
  height: 25%;
  width: 100%;

}
.DropDown__container div:hover{
  background-color: #4986a0af;

}