nav{
    display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  position: fixed;
  top:0px;
  left: 0px;
  height: 100%;
  width: 100px;
background-color: #50514f;
}
.navIcon__holder{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navIcon__holder img{
  max-width: 70px;
  max-height: 70px;
}
.navIcon__holder span{
  color:#247ba0;
}
.last{
  margin-bottom: 30px;
}
@keyframes tailwag {
  0% {background-image: url("../../images/TTLogo1png.png");}
  25% {background-image: url("../../images/logoTTL.png");}
  50% {background-image: url("../../images/TTLogo1png.png");}
  75% {background-image: url("../../images/logoTTR.png");}
  100% {background-image: url("../../images/TTLogo1png.png");}
  
}
#logo{
  background-image: url('../../images/TTLogo1png.png');
  height: 90px;
  width: 90px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90px 90px;
}
#logo:hover{
  animation-name: tailwag;
  animation-duration: 4s;
}

.DropDown__container{
  position: absolute;
  display: flex;
  align-items: center;
  
  flex-direction: column;
  background-color: white;
  width: 200px;
  
  top: 200px;
  left:100px;
}
.DropDown__container div{
  border-bottom: solid 2px #50514f;
  height: 60px;
  width: 100%;
  margin:0;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.DropDown__container div:hover{
  background-color: #4986a0af;
  
}
.closeDD{
  border-bottom:none;
  display: flex;
}
.closeDD span{
  position:absolute;
  right:10px;
  justify-self: flex-start;
  align-self: flex-start;
}